<template>
<!-- Month view of calendar -->
  <v-row>
    <v-col>
      <v-toolbar height=flex> 
        <v-btn
          outlined
          class="mr-4"
          @click="setThisMonth"
        >
          {{ $t("calendar.thisMonth") }}
        </v-btn>
        <v-btn
          icon
          class="ma-2"
          @click="prev"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-btn
          icon
          class="ma-2"
          @click="next"
        >
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
        <v-toolbar-title v-if="$refs.calendar">
          {{ $refs.calendar.title }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-select
          v-model="weekday"
          :items="firstDay"
          dense
          outlined
          hide-details
          :label="$t('calendar.firstDay')"
          class="ma-2">
          </v-select>
          <v-spacer></v-spacer><v-spacer></v-spacer>
        <span v-if="isUserAdmin() || isUserSupervisor()">
          <!-- router links cant be disabled so this is a workaround: it renders the element as span, when disabled=true and else it has the router-link-functionality -->
          <router-link to="/reservationEdit" :is="!((isUserAdmin() || isUserSupervisor() || isUserTrainer()) && isActiveFacilitySet()) ? 'span' : 'router-link'" style="text-decoration: none; color: inherit;">
            <v-btn :disabled="!((isUserAdmin() || isUserSupervisor() || isUserTrainer()) && isActiveFacilitySet())" class="mr-1" outlined>
              {{  $t('calendar.toResEdit')  }}
            </v-btn>
          </router-link>
        </span>
        <!-- Inherits component to add new reservation -->
        <span v-if="isUserAdmin() || isUserTrainer()">
          <ReservationBooking/>
        </span>
      </v-toolbar>
      <v-sheet height="flex">
        <!-- https://vuetifyjs.com/en/api/v-calendar/#props -->
        <v-calendar
          :locale='$i18n.locale'
          :weekdays="weekday"
          ref="calendar"
          :show-week="true"
          v-model="value"
          @click:event="openShowReservationPopup"
          @click:more="viewDay"
          @click:date="viewDay"
          :events="getEvents()"
          :event-overlap-mode="mode"
          :event-overlap-threshold="30"
          :event-color="getEventColor"
          :event-text-color="getEventTextColor"
          @change="getEvents()"
          border="1"
        ></v-calendar>
        <!-- Show popup for details from choosen event, similar to day/week -> outfactoring in extra component didn't work as wanted  -->
        <v-menu
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
        >
          <template>
            <v-container v-if="deleted!==true">
              <v-row class="no-gutters">
                  <v-col md="4">
                    <v-card class="justify-center" height="flex" width="flex" outlined>
                      <form class="ma-4">
                        <v-text-field :label="$t('reservation.creator')"  readonly :value="selectedEvent.ownerUsername"/>
                        <v-text-field :label="$t('reservation.showName')" readonly :value="selectedEvent.onlyName"/>
                      </form>
                    </v-card>
                  </v-col>
                  <v-col md="4">
                    <v-card class="justify-center" height="flex" width="flex" outlined>
                        <form class="ma-4">
                          <v-text-field :label="$t('reservation.start')" readonly :value="new Date(selectedEvent.start).toLocaleDateString($i18n.locale) + ' ' +new Date(selectedEvent.start).toLocaleTimeString($i18n.locale)"/>
                          <v-text-field :label="$t('reservation.end')" readonly :value="new Date(selectedEvent.end).toLocaleDateString($i18n.locale) + ' ' +new Date(selectedEvent.end).toLocaleTimeString($i18n.locale)"/>
                        </form>
                    </v-card>
                  </v-col>
                  <v-col md="4">
                    <v-card class="justify-center" height="flex" width="flex" outlined>
                       <form class="ma-4">
                          <v-text-field :label="$t('reservation.type')" readonly :value="getPurposeTranslation(selectedEvent.purpose)"/>
                          <v-text-field :label="$t('reservation.pendingState')" readonly :value="getStateTranslation(selectedEvent.pending)"/>
                        </form>
                    </v-card>
                  </v-col>
              </v-row>
            </v-container>
            <v-btn
               class="justify-center"
               width="680"
               :disabled="!canUserDelete(selectedEvent)"
               color="red"
               @click="deleteItem(selectedEvent)"
            >
            {{  $t('reservation.delete')  }}
            </v-btn>
            <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5"> {{  $t('reservation.confirm')  }}</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="closeDelete"> {{  $t('reservation.cancel')  }}</v-btn>
                    <v-btn color="green darken-1" text @click="deleteItemConfirm"> {{  $t('reservation.ok')  }}</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
          </template>
        </v-menu>
      </v-sheet>
    </v-col>
  </v-row>
</template>

<script>
import ReservationBooking from "@/components/Reservation.vue";
import {RESERVATION_ACTION} from "@/store/modules/reservation";
import {RESERVATION_PURPOSE} from "@/service/json-api";
import { mapState, mapGetters } from "vuex";
import {getEvents} from "@/utils";
import {CALENDAR_ACTION} from "@/store/index";

export default {
  components: {
    ReservationBooking,
  },
  name: "CalendarMonth",
  data: () => ({
    mode: 'stack',
    weekday: [1, 2, 3, 4, 5, 6, 0], //initial Order - Monday = Start of Week
    value: '',
    events: [],
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,

    deleted: false,
    dialog: false,
    dialogDelete: false,
    toDeleteIndex: -1,
    editedItem: {
    },
    defaultItem: {
    },
    resForm: {
      choosenDate: '',
      choosenDateValue:  '',
      choosenBegin: '',
      choosenBeginValue: '',
      choosenEnd: '',
      choosenEndValue: '',
      choosenType: '',
      choosenSpace: '',
      choosenFac: '',
    },
    type: Object.keys(RESERVATION_PURPOSE),
    space: [1, 2, 3],
  }),
  computed: {
		firstDay () { //needs to be computed, to bind i18n in v-select:items
			const locale = this.$i18n.locale
			const t = this.$t.bind(this)
			return [
				{ // Order of days in the calendar view - 0 = Sunday, 1 = Monday, ...
					text: t(`calendar.firstDayMon`, locale),
					value: [1, 2, 3, 4, 5, 6, 0]
				}, {
					text: t(`calendar.firstDaySun`, locale),
					value: [0, 1, 2, 3, 4, 5, 6]
				}
			]
		},
    ...mapState({
      reservations: (state) => {
        return state.reservation.reservations
      },
      activeAdd: (state) => {
        return state.address.activeAddress
      },
      activeFac: (state) => {
        return state.sportsfacility.activeFacility
      },
    }),
    ...mapGetters([
      'isUserAdmin',
      'isUserTrainer',
      'isUserSupervisor',
      "isActiveFacilitySet",
      'isUserReservationOwner',
      "reservationsTimeZoneOffsetCalc",
    ]),
    fromDateDisp() {
        if(this.resForm.choosenDateValue === ''){
            return '';
          }
        return new Date(this.resForm.choosenDateValue).toLocaleDateString(this.$i18n.locale);
    },
    fromBeginDisp() {
        return this.resForm.choosenBeginValue;
    },
    fromEndDisp() {
        return this.resForm.choosenEndValue;
    },
	},
  watch: {
       dialogDelete (val) {
          val || this.closeDelete()
        },
  },
  methods: {
    getPurposeTranslation (purpose) {
      const locale = this.$i18n.locale
      const t = this.$t.bind(this)
      switch(purpose){
        case 'GAME': return t(`reservation.game`, locale)
        case 'RESERVED': return t(`reservation.reserved`, locale)
        case 'BLOCKED': return t(`reservation.blocked`, locale)
        case 'TRAINING': return t(`reservation.training`, locale)
        case 'MISC': return t(`reservation.misc`, locale)
      }
    },
    getStateTranslation (state) {
      const locale = this.$i18n.locale
      const t = this.$t.bind(this)
      switch(state){
        case 'APPROVED': return t(`reservation.approved`, locale)
        case 'PENDING': return t(`reservation.pending`, locale)
        case 'DENIED': return t(`reservation.denied`, locale)
      }
    },
    getEvents () {
      return getEvents(this.reservations);
    },
    getEventColor (event) {
      return event.color
    },
    getEventTextColor (event) {
      return event.textColor
    },
    async viewDay ({ date }) {
      await this.$store.dispatch(CALENDAR_ACTION.PUT_DAY, date)
      await this.$store.dispatch(CALENDAR_ACTION.PUT_CALENDARVIEW, 'day');
    },
    setThisMonth () { // Reset view to this month
      this.value = ''
    },
    prev () { // Show previous month
      this.$refs.calendar.prev()
    },
    next () { // Show next month
      this.$refs.calendar.next()
    },
    openShowReservationPopup ({ nativeEvent, event }) {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        const open = () => {
          requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))
        }
        if (this.selectedOpen) {
          this.selectedOpen = false
          requestAnimationFrame(() => requestAnimationFrame(() => open()))
        } else {
          open()
        }
        nativeEvent.stopPropagation()
      },
    canUserDelete(selectedEvent) {
      return this.isUserAdmin()
          ? true
          : this.isUserTrainer() && this.isUserReservationOwner(selectedEvent.ownerUsername);
    },
    deleteItem (item) {
      this.toDeleteIndex = item.id;
      this.dialogDelete = true
    },
    async deleteItemConfirm () {
      await this.$store.dispatch(RESERVATION_ACTION.DELETE_RESERVATION, {addressId: this.activeAdd.id, facilityId: this.activeFac.id, reservationId: this.toDeleteIndex});
      await this.$store.dispatch(RESERVATION_ACTION.GET_CALENDAR_RESERVATIONS, {addressId: this.activeAdd.id, facilityId: this.activeFac.id});
      this.closeDelete()
    },
    closeDelete () {
      this.dialogDelete = false
      this.deleted = true
      this.$nextTick(() => {
        this.deleted = false
        this.selectedOpen = false
        this.resForm = {
          choosenDate: '',
          choosenDateValue:  '',
          choosenBegin: '',
          choosenBeginValue: '',
          choosenEnd: '',
          choosenEndValue: '',
          choosenType: '',
          choosenSpace: '',
          choosenFac: '',
        }
      })
    },
  },
};
</script>

<style scoped></style>
