<template>
<!-- Part of "tool bar", shows facility details + facility choice -->
  <v-card
      class="mx-right"
      max-width="flex"
      outlined
      height="205"
  >
    <table>
      <tr>
      <td width="flex">
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-subtitle>
              <span class="font-weight-bold">{{ $t("facility.city") }}</span>
              <span>{{ isActiveFacilitySet() ? `${activeAdd.postalCode} ${activeAdd.location}` : "" }}</span>
              <br/>
              <span class="font-weight-bold">{{ $t("facility.address") }}</span>
              <span>{{ isActiveFacilitySet() ? `${activeAdd.street} ${activeAdd.houseNumber}` : ""}} </span>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-select
            :value="activeAdd"
            :items="addresses"
            item-text="street"
            dense
            outlined
            return-object
            :label="$t('facility.switchPlace')"
            class="ml-2"
            @change="updateActiveAdd">
        </v-select>
        <!-- only chooseable if ground/address is set -->
        <v-select
            :value="activeFac"
            :items="facilities"
            item-text="name"
            dense
            outlined
            return-object
            :label="$t('facility.switchFac')"
            class="ml-2"
            :disabled="!isActiveAddressSet()"
            @change="updateActiveFac"
        >
        </v-select>
      </td>
      <td width="flex">
        <v-list-item two-line class="mb-6">
          <div>
            <v-list-item-title class="mb-1">
              {{ $t("facility.responsible") }}
              <span> {{ isActiveFacilitySet() && this.supervisor !== undefined ? `${supervisor.username}` : ""}}</span>
            </v-list-item-title>
            <v-list-item-subtitle>
              <span>{{ isActiveFacilitySet() && this.supervisor !== undefined ? `${$t("facility.contact")} ${supervisor.telephoneNumber}` : "" }}</span>
            </v-list-item-subtitle>
          </div>
        </v-list-item>
        <v-list-item>
          <div class="mb-9">
            {{ $t("facility.floodlight") }}
            <v-icon class="ml-2" v-if="activeFac.hasFloodlight===true" color="green">fas fa-check</v-icon>
            <v-icon class="ml-2" v-if="activeFac.hasFloodlight===false" color="red">fas fa-times</v-icon>
          </div>
        </v-list-item>
        <v-list-item>
          <div class="mb-6">
            {{ !isActiveFacilitySet() ? "" : $t("facility.groundType")}}
            {{
              activeFac.courtSurface==='ARTIFICIAL_TURF'
              ? $t("facility.typeArtificial")
              : activeFac.courtSurface==='GRASS'
                  ? $t("facility.typeNatural")
                  : ""
            }}
          </div>
          <!-- show message, that no facility is choosen -->
          <div class="mb-6 red--text"> {{ !isActiveFacilitySet() ? $t("facility.notChoosen") : "" }}</div>
        </v-list-item>
      </td>
      <tr/>
    </table>
  </v-card>
</template>

<script>
import { mapState, mapGetters } from "vuex/dist/vuex.mjs";
import { FACILITY_ACTION } from "@/store/modules/sportsfacility";
import {ADDRESS_ACTION} from "@/store/modules/address";
import { RESERVATION_ACTION } from "@/store/modules/reservation";

export default {
  components: {
  },
  name: "FacilityInfo",
  data: () => ({
  }),
  computed: {
    ...mapState({
      activeAdd: (state) => {
        return state.address.activeAddress
      },
      activeFac: (state) => {
        return state.sportsfacility.activeFacility
      },
      addresses: (state) => {
        return state.address.addresses
      },
      facilities: (state) => {
        return state.sportsfacility.facilities
      },
    }),
    ...mapGetters([
      'isActiveAddressSet',
      'isActiveFacilitySet',
    ]),
    supervisor() {
      return this.activeFac.supervisors[0];
    }
  },
  methods: {
    async updateActiveAdd(selectedAdd){
      await this.$store.dispatch(ADDRESS_ACTION.PUT_ACTIVE_ADDRESS, selectedAdd);
      await this.$store.dispatch(FACILITY_ACTION.GET_FACILITIES, this.activeAdd.id);
      await this.$store.dispatch(FACILITY_ACTION.CLEAR_ACTIVE_FACILITY);
      await this.$store.dispatch(RESERVATION_ACTION.CLEAR_RESERVATION_STATE);
    },
    async updateActiveFac(selectedFac){
      await this.$store.dispatch(FACILITY_ACTION.PUT_ACTIVE_FACILITY, selectedFac);
      await this.$store.dispatch(RESERVATION_ACTION.GET_CALENDAR_RESERVATIONS, {addressId: this.activeAdd.id, facilityId: this.activeFac.id});
      await this.$store.dispatch(RESERVATION_ACTION.CLEAR_ACTIVE_RESERVATION);
    },
  },
  async created() {
    if (this.isActiveAddressSet() && this.isActiveFacilitySet()) {
      //when we return from resEdit we want to keep actives as still valid and refetch data, we replaced when accessing resEdit-View
      await this.$store.dispatch(RESERVATION_ACTION.GET_CALENDAR_RESERVATIONS, {addressId: this.activeAdd.id, facilityId: this.activeFac.id});
    } else {
      await this.$store.dispatch(ADDRESS_ACTION.GET_ADDRESSES);
    }
  },

}
</script>

<style scoped>
</style>