<template>
<!-- component that is shown as footer on every page -->
  <v-footer
    class="mt-4"
    color="green darken-3"
  >
    <router-link to="/about" style="text-decoration: none; color: inherit;"><!-- around whole button, to make whole button hyperlink-->
      <v-btn
        class="ma-2"
        x-small
          >
        <v-icon left>fas fa-address-card</v-icon>{{ $t("general.about") }}
      </v-btn> 
    </router-link> 
    <v-spacer/>
    <router-link to="/fhws">  
      <v-img
          alt="FHWS Logo"
          class="shrink mr-2"
          contain
          src="@/assets/fhws.jpg"
          transition="scale-transition"
          width="35"
        />
    </router-link>
  </v-footer>   
</template>

<script>

export default {
  components: {},
  name: "AppFooter",
};
</script>

<style scoped></style>
