<template>
<!-- Login/Landing-Page -->
  <v-dialog v-model="dialog" persistent max-width="600px" min-width="360px">
    <div>
      <v-tabs v-model="tab" show-arrows background-color="primary" icons-and-text dark grow>
        <v-tabs-slider color="primary"></v-tabs-slider>
        <v-tab v-for="i in tabs" :key="i.id">
          <v-icon large>{{ i.icon }}</v-icon>
          <div class="caption py-1">{{ i.name }}</div>
        </v-tab>
        <v-tab-item>
          <v-card class="px-4">
            <v-card-text>
              <v-form @submit.prevent="validate" ref="loginForm" v-model="valid" lazy-validation>
                <v-row>
                  <v-col cols="12">
                    <v-text-field v-model="loginUsername" label="Username" required></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field v-model="loginPassword" :append-icon="show1? 'mdi-eye':'mdi-eye-off'" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" counter @click:append="show1 = !show1"></v-text-field>
                  </v-col>
                  <v-col class="d-flex" cols="12" sm="6" xsm="12">
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="d-flex" cols="12" sm="3" xsm="12" align-end>
                    <v-btn x-large block :disabled="!valid" color="success" type="submit"> Login </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </div>
  </v-dialog>
</template>

<script>
import {AUTH_ACTION} from "@/store/modules/auth";

export default {
  name: "LoginForm",
  computed: {
  },
  methods: {
    async validate() {
      if (this.$refs.loginForm.validate()) {
        //login
        await this.$store.dispatch(AUTH_ACTION.POST_LOG_IN, {username: this.loginUsername, password: this.loginPassword})
        this.resetValidation();
        await this.$router.push({ name: 'calendar' })
      } else {
        alert("Unexpected Error");
      }
      this.loginPassword = "";
    },
    reset() {
      this.$refs.loginForm.reset();
    },
    resetValidation() {
      this.$refs.loginForm.resetValidation();
    }
  },
  data: () => ({
    dialog: true,
    tab: 0,
    tabs: [
      {id: 0, name:"Login", icon:"mdi-account"},
    ],
    valid: true,

    loginPassword: "",
    loginUsername: "",
    show1: false,
  }),
}


</script>

<style scoped>

</style>