<template>
<!-- Show name of logged-in user and logout-button in header -->
  <v-menu
      bottom
      offset-y
      :close-on-content-click="false"
    ><!-- needed to keep pop-up open-->
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="orange"
          class="black--text"
          v-bind="attrs"
          v-on="on"
        >
          {{  $t('general.login')  }} {{ user.username }}
        </v-btn>
      </template>
      <v-card
        class="mx-left justify-center"
        max-width="flex"
        height="flex"
        width="flex"
        outlined
        >
          <form class="ma-4">
              <v-divider class="mb-4"></v-divider>
              <v-btn
                @click="logout"
              >
                {{  $t('general.logout')  }}
              </v-btn>
          </form>
      </v-card>
  </v-menu>
</template>

<script>

import {mapState} from "vuex";
import {STORE_ACTION} from "@/store";

export default {
  components: {
  },
  name: "LogoutCard",
  data: () => ({
  }),
  computed: {
    ...mapState({
      user: (state) => {
        return state.auth;
      },
    }),
  },
  methods: {
    async logout () {
      // clear all store data and for that also login and switch to landing page
      await this.$store.dispatch(STORE_ACTION.CLEAR_STORE);
      await this.$router.push({ name: 'login' })
    }
  },
}
</script>

<style scoped>
</style>