<template>
<!-- component that allows adding new reservations -->
  <v-dialog width="800" height="600">
    <template v-slot:activator="{ on, attrs }">
      <!-- button that opens popup -->
      <v-btn v-bind="attrs" v-on="on" :disabled="!((isUserAdmin() || isUserTrainer()) && isActiveFacilitySet())" @click="clearForm()" outlined>
        {{  $t('reservation.buttonTitle')  }}
      </v-btn>
    </template>
    <template v-slot:default="dialog">
      <form>
      <v-container>
        <v-row class="no-gutters">
          <v-col md="4">
            <v-card class="justify-center" height="flex" width="flex" outlined>
              <v-card class="ma-4 mt-16 mb-10">{{$t ( 'reservation.input')}} </v-card>
              <v-text-field 
                class="ma-4" 
                v-model="name"
                counter="25" 
                :label="$t('reservation.name')"
                required
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                :error-messages="nameErrors"
                />
            </v-card>
          </v-col>
          <v-col md="4">
            <v-card class="justify-center" height="flex" width="flex" outlined>
                <v-menu 
                  v-model="choosenDate" 
                  :close-on-content-click="false" 
                  transition="scale-transition"
                  offset-y 
                  max-width="290px" 
                  min-width="290px">
                  <template v-slot:activator="{ on }">
                    <v-text-field 
                      class="ma-4"
                      :label="$t('reservation.date')" 
                      readonly 
                      :value="fromDateDisp" 
                      v-on="on"
                      required
                      @input="$v.fromDateDisp.$touch()"
                      @blur="$v.fromDateDisp.$touch()"
                      :error-messages="fromDateDispErrors"
                      />
                  </template>
                  <v-date-picker 
                    :locale="$i18n.locale" 
                    :first-day-of-week="1" 
                    v-model="choosenDateValue"
                    no-title 
                    @input="choosenDate = false" 
                    :min="nowDate"
                    />
                </v-menu>
                <v-menu 
                  v-model="choosenBegin" 
                  :close-on-content-click="false" 
                  transition="scale-transition"
                  offset-y max-width="290px" 
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      class="ml-4 mr-4" 
                      :label="$t('reservation.start')" 
                      readonly 
                      :value="fromBeginDisp" 
                      v-on="on" 
                      required
                      @input="$v.fromBeginDisp.$touch()"
                      @blur="$v.fromBeginDisp.$touch()"
                      :error-messages="fromBeginDispErrors"
                    />
                  </template>
                  <!-- reduced hours due to meaningful times, reduced minutes to keep times simple for user -->
                  <v-time-picker
                      :allowed-hours="[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]"
                      :allowed-minutes="[0, 15, 30, 45]"
                      :locale="$i18n.locale" 
                      v-model="choosenBeginValue" 
                      @input="choosenBegin = false"
                      :min="minTime" 
                      format="24hr"
                  />
                </v-menu>
                <v-menu 
                  v-model="choosenEnd" 
                  :close-on-content-click="false" 
                  transition="scale-transition"
                  offset-y max-width="290px" 
                  min-width="290px">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      class="ml-4 mr-4" 
                      :label="$t('reservation.end')" 
                      readonly 
                      :value="fromEndDisp" 
                      v-on="on"
                      required
                      @input="$v.fromEndDisp.$touch()"
                      @blur="$v.fromEndDisp.$touch()"
                      :error-messages="fromEndDispErrors"
                    />
                  </template>
                  <v-time-picker
                    :allowed-hours="[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]"
                    :allowed-minutes="[0, 15, 30, 45]" 
                    :locale="$i18n.locale" 
                    v-model="choosenEndValue"
                    @input="choosenEnd = false" 
                    :min="beginValue" 
                    format="24hr"
                  />
                </v-menu>
            </v-card>
          </v-col>
          <v-col md="4">
            <v-card class="justify-center" height="flex" width="flex" outlined>
              <form class="ma-3">
                <v-select 
                  v-model="choosenType" 
                  :items="types" 
                  outlined
                  return-object 
                  :label="$t('reservation.type')" 
                  class="mb-10"
                  required
                  @input="$v.choosenType.$touch()"
                  @blur="$v.choosenType.$touch()"
                  :error-messages="choosenTypeErrors"
                >
                <!-- translate enums in v-select -->
                  <template #selection="data">
                    <div v-if="data.item==='GAME'">{{  $t('reservation.game')  }}</div>
                    <div v-if="data.item==='TRAINING'">{{  $t('reservation.training')  }}</div>
                    <div v-if="data.item==='RESERVED'">{{  $t('reservation.reserved')  }}</div>
                    <div v-if="data.item==='BLOCKED'">{{  $t('reservation.blocked')  }}</div>
                    <div v-if="data.item==='MISC'">{{  $t('reservation.misc')  }}</div>
                  </template>
                  <template #item="data">
                    <div v-if="data.item==='GAME'">{{  $t('reservation.game')  }}</div>
                    <div v-if="data.item==='TRAINING'">{{  $t('reservation.training')  }}</div>
                    <div v-if="data.item==='RESERVED'">{{  $t('reservation.reserved')  }}</div>
                    <div v-if="data.item==='BLOCKED'">{{  $t('reservation.blocked')  }}</div>
                    <div v-if="data.item==='MISC'">{{  $t('reservation.misc')  }}</div>
                  </template>
                </v-select>
                <v-select 
                  v-model="choosenSpace" 
                  :items="space" 
                  outlined
                  return-object 
                  :label="$t('reservation.space')" 
                  class="mb-44"
                  required
                  @input="$v.choosenSpace.$touch()"
                  @blur="$v.choosenSpace.$touch()"
                  :error-messages="choosenSpaceErrors"
                >
                <!-- translate enums in v-select -->
                  <template #selection="data">
                    <div v-if="data.item==='THIRD_OF_FIELD'">{{  $t('reservation.third')  }}</div>
                    <div v-if="data.item==='HALF_OF_FIELD'">{{  $t('reservation.half')  }}</div>
                    <div v-if="data.item==='FULL_FIELD'">{{  $t('reservation.full')  }}</div>
                  </template>
                  <template #item="data">
                    <div v-if="data.item==='THIRD_OF_FIELD'">{{  $t('reservation.third')  }}</div>
                    <div v-if="data.item==='HALF_OF_FIELD'">{{  $t('reservation.half')  }}</div>
                    <div v-if="data.item==='FULL_FIELD'">{{  $t('reservation.full')  }}</div>
                  </template>
                </v-select>
              </form>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <!-- disabled if vuelidate/validation has any error -->
          <v-btn 
            color="green" 
            width="800"
            @click="submit(dialog)"
            :disabled="$v.$anyError"
          >
            {{  $t('reservation.book')  }}
          </v-btn>
        </v-row>
      </v-container>
      </form>
    </template>
  </v-dialog>
</template>

<script>
    import {RESERVATION_ACTION} from "@/store/modules/reservation";
    import {mapState} from "vuex/dist/vuex.mjs";
    import {RESERVATION_PURPOSE, RESERVATION_SPACE, RESERVATION_STATUS} from "@/service/json-api";
    import {mapGetters} from "vuex";
    import {validationMixin} from "vuelidate";
    import {required, maxLength} from 'vuelidate/lib/validators';

    export default {
      components: {
      },
      name: "ReservationBooking",
      mixins: [validationMixin],
      validations: {
        name: {required, maxLength: maxLength(25)},
        fromBeginDisp: {required},
        fromDateDisp: {required},
        fromEndDisp: {required},
        choosenType: {required},
        choosenSpace: {required}
        },
      data: () => ({
        choosenDate: '',
        choosenDateValue:  '',
        choosenBegin: '',
        choosenBeginValue: '',
        choosenEnd: '',
        choosenEndValue: '',
        choosenType: '',
        choosenSpace: '',
        choosenFac: '',
        name: '',
        types: Object.values(RESERVATION_PURPOSE),
        space: Object.values(RESERVATION_SPACE),
      }),
      computed: {
        nowDate() {
            const date = new Date();
            date.setDate(date.getDate());
            return date.toISOString().slice(0,10)
        },
        minTime(){
          if((new Date(this.choosenDateValue).toLocaleDateString(this.$i18n.locale))===(new Date().toLocaleDateString(this.$i18n.locale))){
            return new Date().toLocaleString( 'sv' ).slice(11,16); //with sv = Schweden, because they use ISO-Datestring as standard
          }
          return "00:00";
        },
        //minimal reservation should be 30 minutes -> reduce choseable options for ending time
        beginValue() {
            let tempMin = Number(this.choosenBeginValue.slice(3,5))+30;
            let tempHours = Number(this.choosenBeginValue.slice(0,2));
            if(tempMin === Number(60)){
              tempHours = tempHours + Number(1);
              tempMin = "00";
            }
            return tempHours.toString()+":"+tempMin.toString();
        },
        fromDateDisp() {
            if(this.choosenDateValue === ''){
              return '';
            }
            return new Date(this.choosenDateValue).toLocaleDateString(this.$i18n.locale);
        },
        fromBeginDisp() {
            return this.choosenBeginValue;
        },
        fromEndDisp() {
            return this.choosenEndValue;
        },
        ...mapState({
          activeAdd: (state) => {
            return state.address.activeAddress
          },
          activeFac: (state) => {
            return state.sportsfacility.activeFacility
          },
          addresses: (state) => {
            return state.address.addresses
          },
          facilities: (state) => {
            return state.sportsfacility.facilities
          },
        }),
        ...mapGetters([
          'isUserAdmin',
          'isUserTrainer',
          "isActiveFacilitySet",
        ]),
        //  from here on vuelidate errors
        fromBeginDispErrors () {
          const errors = []
          const locale = this.$i18n.locale
          const t = this.$t.bind(this)
          if (!this.$v.fromBeginDisp.$dirty) return errors
          !this.$v.fromBeginDisp.required && errors.push(t(`reservation.startTimeReq`, locale))
          return errors
        },
        nameErrors () {
          const errors = []
          const locale = this.$i18n.locale
          const t = this.$t.bind(this)
          if (!this.$v.name.$dirty) return errors
          !this.$v.name.maxLength && errors.push(t(`reservation.nameTooLong`, locale))
          !this.$v.name.required && errors.push(t(`reservation.nameReq`, locale))
          return errors
        },
        fromEndDispErrors () {
          const errors = []
          const locale = this.$i18n.locale
          const t = this.$t.bind(this)
          if (!this.$v.fromEndDisp.$dirty) return errors
          !this.$v.fromEndDisp.required && errors.push(t(`reservation.endTimeReq`, locale))
          return errors
        },
        fromDateDispErrors () {
          const errors = []
          const locale = this.$i18n.locale
          const t = this.$t.bind(this)
          if (!this.$v.fromDateDisp.$dirty) return errors
          !this.$v.fromDateDisp.required && errors.push(t(`reservation.dateReq`, locale))
          return errors
        },
        choosenTypeErrors () {
          const errors = []
          const locale = this.$i18n.locale
          const t = this.$t.bind(this)
          if (!this.$v.choosenType.$dirty) return errors
          !this.$v.choosenType.required && errors.push(t(`reservation.typeReq`, locale))
          return errors
        },
        choosenSpaceErrors () {
          const errors = []
          const locale = this.$i18n.locale
          const t = this.$t.bind(this)
          if (!this.$v.choosenSpace.$dirty) return errors
          !this.$v.choosenSpace.required && errors.push(t(`reservation.spaceReq`, locale))
          return errors
        },
      },
      methods: {
        clearForm () {
          this.$v.$reset(); //clears thrown validation errors
          this.choosenDate = ''
          this.choosenDateValue =  ''
          this.choosenBegin = ''
          this.choosenBeginValue = ''
          this.choosenEnd = ''
          this.choosenEndValue = ''
          this.choosenType = ''
          this.choosenSpace = ''
          this.choosenFac = ''
          this.name = ''
        },
        async submit (dialog) {
          this.$v.$touch() //check validations
          if (this.$v.$anyError === false) { //if no validation error, allow reservation to be sent, else wont't propagate and disable button until input errors resolved
            try {
              const beginValue = this.choosenBeginValue;
              const endValue = this.choosenEndValue;
              const addressId = this.activeAdd.id;
              const facilityId = this.activeFac.id;
              const {choosenDateValue, choosenSpace, choosenType} = this;
              const reservation = {
                name: this.name,
                startTime: new Date(`${choosenDateValue}T${beginValue}`),
                endTime: new Date(`${choosenDateValue}T${endValue}`),
                applicant: {
                  email:"thomas-mail@hoster.com",
                  id:1,
                  username:"Thomas",
                  role:"ADMIN",
                  telephoneNumber:123456789,
                },
                reservedSpace: choosenSpace,
                reservationStatus: RESERVATION_STATUS.PENDING,
                reservationPurpose: choosenType,
              };
              await this.$store.dispatch(RESERVATION_ACTION.POST_RESERVATION, {addressId, facilityId, reservation});
              await this.$store.dispatch(RESERVATION_ACTION.GET_CALENDAR_RESERVATIONS, {addressId, facilityId});
              //closes modal dialog
              dialog.value = false
            } catch (e) {
              console.log("Couldn't create Reservation!");
            }

          }
        }
      },
    }
</script>

<style scoped>
</style>