<template>
<!-- component in "toolbar" to switch between calendar representations -->
  <v-card
    class="mx-left justify-center"
    max-width="flex"
    height="205"
    outlined
  >
    <v-list>
      <v-list-item class="ml-2 mt-4 text-h5">{{ $t("switch.switchView") }}</v-list-item> <!--ml = margin-left text-h5 = text size-->
    </v-list>
    <div class="text-center">
        <div>
          <v-btn
            class="ma-2"
            color="primary"
            height="75"
            @click="updateActiveCalendarView('day')"
          >
            <v-icon left>fas fa-calendar-day</v-icon>{{ $t("switch.day") }}<!-- FontAwesome 5.14.5 Icon -->
          </v-btn>  
          <v-btn
            class="ma-2"
            color="red"
            height="75"
            @click="updateActiveCalendarView('week')"
          >
            <v-icon left>fas fa-calendar-week</v-icon>{{ $t("switch.week") }}
          </v-btn> 
          <v-btn
            class="ma-2 elevation-4"
            height="75"
            @click="updateActiveCalendarView('month')"
          >
            <v-icon left>fas fa-calendar-alt</v-icon>{{ $t("switch.month") }}
          </v-btn>
        </div>
    </div> 
  </v-card>
</template>
        
        
<script>
import { mapState } from "vuex/dist/vuex.mjs";
import {CALENDAR_ACTION} from "@/store/index";

export default {
  components: {
  },
  name: "SwitchCalendar",
  computed: {
    ...mapState({
      activeCalendarView: (state) => {
        return state.activeCalendarView
      }
    })
  },
  methods: {
    async updateActiveCalendarView(choosenCalendarView){
      await this.$store.dispatch(CALENDAR_ACTION.PUT_CALENDARVIEW, choosenCalendarView)
    },
  }
}
</script>

<style scoped>
</style>