<template>
<!-- component in "toolbar" to goTo user/fac+groundEdit-->
  <v-card
    class="mx-left justify-center"
    max-width="flex"
    height="205"
    outlined
  >
    <v-list>
      <v-list-item>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <router-link to="/groundEdit" :is="!isUserAdmin() ? 'span' : 'router-link'" style="text-decoration: none; color: inherit;">
                <v-btn
                  :disabled="!isUserAdmin()"
                  class="mt-2"
                  color="primary"
                  height="75"
                  v-on="on"
                  v-bind="attrs"
                >
                  <v-icon>fas fa-map</v-icon> <!-- FontAwesome 5.14.5 Icon -->
                </v-btn>  
              </router-link>
            </template>
            <span>{{ $t("general.tooltipFac") }}</span>
          </v-tooltip>  
      </v-list-item>
      <v-list-item>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <router-link to="/userEdit" :is="!isUserAdmin() ? 'span' : 'router-link'" style="text-decoration: none; color: inherit;"><!-- around whole button, to make whole button hyperlink-->
              <v-btn
                :disabled="!isUserAdmin()"
                class="mt-4"
                color="green"
                height="75"
                v-on="on"
                v-bind="attrs"
              >
                <v-icon>fas fa-users</v-icon>
              </v-btn> 
            </router-link>
          </template>
          <span>{{ $t("general.tooltipUser") }}</span>
        </v-tooltip>  
      </v-list-item>
    </v-list>
  </v-card>
</template>
        
        
<script>
  import {mapGetters} from "vuex/dist/vuex.mjs";

  export default {
    components: {
    },
    name: "UserFacEdit",
    computed: {
      ...mapGetters([
        'isUserAdmin',
      ]),
    }
  }
</script>

<style scoped>
</style>