<template>
<!-- main structure of app -->
  <v-app>
    <v-app-bar
      app
      color="green darken-3"
    >
      <router-link to="/calendar" style="text-decoration: none; color: inherit;">  
        <div class="d-flex align-center">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="@/assets/logo_tsv_erlabrunn.svg"
            transition="scale-transition"
            width="70"
          />
          <h2 class="orange--text">
          &nbsp;{{ $t('general.appTitle') }}
          </h2>
        </div>
      </router-link>
      <v-spacer></v-spacer><v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            @click="toggleDarkMode()"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>fas fa-sun</v-icon>
          </v-btn>
        </template>
        <span>{{ $t("general.toogleDarkMode") }}</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            @click="changeLocale()"
            v-bind="attrs"
            v-on="on"
          >
            <flag :iso="notActiveLanguage.flag" v-bind:squared=false />
          </v-btn>
        </template>
        <span>{{ $t("general.changLang") }}</span>
      </v-tooltip>
      <LogoutCard/>
    </v-app-bar>
    <v-main>
    <!-- selected main view -->
    <router-view />
    </v-main>
    <Footer/>
  </v-app>
</template>

<script>

import i18n from '@/plugins/i18n';
import LogoutCard from "@/components/Logout.vue"
import Footer from "@/components/Footer.vue"

export default {
  name: 'App',

  components:{
      LogoutCard,
      Footer
  },

  data() {
      return {
          languages: [
              { flag: 'de', language: 'de', title: 'DE' },
              { flag: 'gb', language: 'en', title: 'EN' }
          ],
      };
  },

  methods: {
    changeLocale() {
        if(i18n.locale==='de'){
          i18n.locale = 'en';
        }
        else i18n.locale = 'de';
    },
    toggleDarkMode: function () {
        this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      }
  },
  computed: {
    switchLabel: function () {
      return this.darkMode ? 'light' : 'dark';
    },
    notActiveLanguage: function () {
      return this.languages.find(v => v.language !== i18n.locale)
    }  
  },
};
</script>

<style>
nav {
  padding: 30px;
  text-align: center;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>