<template>
<!-- About page -->
  <div>
    <h1 class="mt-10 ml-10">{{ $t("about.title1") }} <br/> {{ $t("about.title2") }}</h1>
    <h3 class="mt-6 ml-10">{{ $t("about.lecturer") }}</h3>
    <h3 class="mt-6 ml-10">{{ $t("about.team") }}</h3>
    <v-btn
      class="ma-10"
      x-large
      @click="$router.go(-1)" 
        ><!-- go back to previous page -->
      <v-icon left>fas fa-backward</v-icon>{{ $t("about.back") }}
    </v-btn> 
  </div>
</template>

<script>

export default {
  components: {
  },
  name: "AboutView",
};
</script>

