<template>
<!-- MainView, Toolbar + selected calendar view -->
  <div>
    <v-container>
      <v-row no-gutters>
        <v-col md="1">
          <!-- only showed if admin rights -->
          <div v-if="isUserAdmin()">
            <UserFacEdit/>
          </div>
        </v-col>
        <v-col md="7">
          <FacilityInfo/>
        </v-col>
        <v-col md="4">
          <SwitchCalendar/>
        </v-col>
      </v-row> 
    </v-container>
    <!-- only shown if facility is selected -->
    <div v-if="isActiveFacilitySet()">
      <CalendarMonth v-if="activeCalendarView==='month'"/>
      <CalendarWeek v-if="activeCalendarView==='week'"/>
      <CalendarDay v-if="activeCalendarView==='day'"/>
    </div>
  </div>
</template>

<script>
import FacilityInfo from "@/components/FacilityInfo.vue";
import SwitchCalendar from "@/components/SwitchCalendar.vue";
import CalendarMonth from "@/components/CalendarMonth.vue";
import CalendarWeek from "@/components/CalendarWeek.vue";
import CalendarDay from "@/components/CalendarDay.vue";
import UserFacEdit from "@/components/UserFacEdit.vue";
import { mapState, mapGetters } from "vuex/dist/vuex.mjs";

export default {
  components: {
    CalendarMonth,
    SwitchCalendar,
    FacilityInfo,
    UserFacEdit,
    CalendarWeek,
    CalendarDay
  },
  name: "MonthView",
  computed: {
    ...mapState({
      activeCalendarView: (state) => {
        return state.activeCalendarView
      }
    }),
    ...mapGetters([
      'isUserAdmin',
      'isActiveFacilitySet'
    ])
  },
};
</script>
