<template>
<!-- view to edit facilities, structure is similar to groundEdit/reservationEdit/userEdit -> general comments here -->
  <div>
    <v-data-table
      :headers="headers"
      :items="facilities"
      class="elevation-1"
      :footer-props="{
        'items-per-page-text':$t(`facEdit.rowPerPage`),
        'items-per-page-options':[10, 15, 50, -1],
        'page-text': $t(`facEdit.of`),
      }"
    >
      <!-- customize table values with icons/represents enums as translated text -->
      <template v-slot:[`item.hasFloodlight`]="{ item }">
        <v-icon v-if="item.hasFloodlight===true" color="green">fas fa-check</v-icon>
        <v-icon v-if="item.hasFloodlight===false" color="red">fas fa-times</v-icon>
      </template>
      <template v-slot:[`item.courtSurface`]="{ item }">
        <div v-if="item.courtSurface==='GRASS'">{{  $t('facility.typeNatural')  }}</div>
        <div v-if="item.courtSurface==='ARTIFICIAL_TURF'">{{  $t('facility.typeArtificial')  }}</div>
      </template>
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title class="blue--text">{{  $t('facEdit.administration')  }}</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <!-- v-select is buggy in terms of label names, it filters all duplicates out-->
          <v-select
            :value="activeAdd"
            :items="addresses"
            item-text="street"
            dense
            outlined
            return-object
            :label="$t('facility.switchPlace')"
            class="ml-2 mt-6"
            @change="updateActiveAdd">
        </v-select>
        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog
            v-model="dialog"
            max-width="500px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="orange"
                class="mb-2 black--text"
                v-bind="attrs"
                v-on="on"
                :disabled="activeAdd.id===-1"
            >
              {{  $t('facEdit.new')  }}
            </v-btn>
            </template>
            <!-- pop-up to add/edit facility -->
            <form>
              <v-card>
                <v-card-title>
                  <span class="text-h5" v-if="editedIndex===-1">{{  $t('facEdit.new')  }}</span>
                  <span class="text-h5" v-if="editedIndex!==-1">{{  $t('facEdit.edit')  }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedItem.name"
                          :label="$t('facEdit.name')"
                          required
                          @input="$v.editedItem.name.$touch()"
                          @blur="$v.editedItem.name.$touch()"
                          :error-messages="nameErrors"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-select
                          v-model="editedItem.courtSurface"
                          :items="courtSurfaces"
                          outlined
                          return-object
                          :label="$t('facEdit.type')"
                          class="mb-10"
                          required
                          @input="$v.editedItem.courtSurface.$touch()"
                          @blur="$v.editedItem.courtSurface.$touch()"
                          :error-messages="typeErrors"
                          >
                          <!-- customize v-select with enum translations -->
                          <template #selection="data">
                            <div>
                              <div v-if="data.item==='GRASS'">{{  $t('facility.typeNatural')  }}</div>
                              <div v-if="data.item==='ARTIFICIAL_TURF'">{{  $t('facility.typeArtificial')  }}</div>
                            </div>
                          </template>
                          <template #item="data">
                            <div>
                              <div v-if="data.item==='GRASS'">{{  $t('facility.typeNatural')  }}</div>
                              <div v-if="data.item==='ARTIFICIAL_TURF'">{{  $t('facility.typeArtificial')  }}</div>
                            </div>
                          </template>
                        </v-select>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="6"
                          md="4"
                      >
                        <v-select
                          v-model="editedItem.hasFloodlight"
                          :items="floodlight"
                          outlined
                          return-object
                          :label="$t('facEdit.floodlight')"
                          class="mb-10"
                          required
                          @input="$v.editedItem.hasFloodlight.$touch()"
                          @blur="$v.editedItem.hasFloodlight.$touch()"
                          :error-messages="floodlightErrors"
                        >
                          <!-- customize v-select with icons -->
                          <template #selection="data">
                            <div>
                              <v-icon v-if="data.item===true" color="green">fas fa-check</v-icon>
                              <v-icon v-if="data.item===false" color="red">fas fa-times</v-icon>
                            </div>
                          </template>
                          <template #item="data">
                            <div>
                              <v-icon v-if="data.item===true" color="green">fas fa-check</v-icon>
                              <v-icon v-if="data.item===false" color="red">fas fa-times</v-icon>
                            </div>
                          </template>
                        </v-select>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="6"
                          md="4"
                      >
                        <v-select
                          v-model="selectedSupervisor"
                          :items="getSupervisorUsers"
                          item-text="username"
                          outlined
                          return-object
                          :label="$t('facEdit.supervisors')"
                          class="mb-10"
                          required
                          @input="$v.selectedSupervisor.$touch()"
                          @blur="$v.selectedSupervisor.$touch()"
                          :error-messages="supervisorErrors"
                        >
                        </v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="red darken-1"
                    text
                    @click="close"
                  >
                    {{  $t('facEdit.cancel')  }}
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="save"
                    :disabled="$v.$anyError"
                  >
                    {{  $t('facEdit.save')  }}
                  </v-btn>
                </v-card-actions>
              </v-card>
            </form>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5" style="word-break: break-word"> {{  $t('facEdit.confirm')  }}</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" text @click="closeDelete"> {{  $t('facEdit.cancel')  }}</v-btn>
                <v-btn color="green darken-1" text @click="deleteItemConfirm"> {{  $t('facEdit.ok')  }}</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          fas fa-edit
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          fas fa-trash
        </v-icon>
      </template>
    </v-data-table>
    <router-link to="calendar" style="text-decoration: none; color: inherit;">  
      <v-btn
        class="ma-10"
        x-large
      >
        <v-icon left>fas fa-backward</v-icon>{{ $t("facEdit.calendar") }}
      </v-btn> 
    </router-link>
    <router-link to="groundEdit" style="text-decoration: none; color: inherit;">  
      <v-btn
        class="ma-10"
        x-large
      >
        {{ $t("facEdit.groundEdit") }}
      </v-btn> 
    </router-link>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex/dist/vuex.mjs";
import {ADDRESS_ACTION} from "@/store/modules/address";
import { FACILITY_ACTION } from "@/store/modules/sportsfacility";
import {COURT_SURFACE} from "@/service/json-api";
import {USER_ACTION} from "@/store/modules/user";
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'

export default {
  components: {
  },
  name: "FacEditView",
  mixins: [validationMixin],
  validations: {
    editedItem:{
      name: {required},
      courtSurface: {required},
      hasFloodlight: {required},
    },
    selectedSupervisor: {required},
  },
  data: () => ({
    dialog: false,
    dialogDelete: false,
    editedIndex: -1,
    selectedSupervisor: {},
    editedItem: {
    },
    defaultItem: {
    },
    courtSurfaces: Object.keys(COURT_SURFACE),
    floodlight: [true, false],
  }),
  computed: {
    ...mapState({
      activeAdd: (state) => {
        return state.address.activeAddress
      },
      addresses: (state) => {
        return state.address.addresses
        },
      facilities: (state) => {
        return state.sportsfacility.facilities
      },
    }),
    ...mapGetters([
        "getSupervisorUsers"
    ]),
    // bind headers with values
    headers () {
      const locale = this.$i18n.locale
      const t = this.$t.bind(this)
      return [
        { text: t(`facEdit.name`, locale), align: 'start', value: 'name' },
        { text: t(`facEdit.type`, locale), value: 'courtSurface' },
        { text: t(`facEdit.floodlight`, locale), value: 'hasFloodlight' },
        { text: t(`facEdit.actions`, locale), value: 'actions', sortable: false },
      ]
    },
    // vuelidate error checks follow
    nameErrors () {
      const errors = []
      const locale = this.$i18n.locale
      const t = this.$t.bind(this)
      if (!this.$v.editedItem.name.$dirty) return errors
      !this.$v.editedItem.name.required && errors.push(t(`facEdit.nameReq`, locale))
      return errors
    },
    typeErrors () {
      const errors = []
      const locale = this.$i18n.locale
      const t = this.$t.bind(this)
      if (!this.$v.editedItem.courtSurface.$dirty) return errors
      !this.$v.editedItem.courtSurface.required && errors.push(t(`facEdit.typeReq`, locale))
      return errors
    },
    floodlightErrors () {
      const errors = []
      const locale = this.$i18n.locale
      const t = this.$t.bind(this)
      if (!this.$v.editedItem.hasFloodlight.$dirty) return errors
      !this.$v.editedItem.hasFloodlight.required && errors.push(t(`facEdit.floodlightReq`, locale))
      return errors
    },
    supervisorErrors () {
      const errors = []
      const locale = this.$i18n.locale
      const t = this.$t.bind(this)
      if (!this.$v.selectedSupervisor.$dirty) return errors
      !this.$v.selectedSupervisor.required && errors.push(t(`facEdit.supervisorReq`, locale))
      return errors
    },
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },
  async created () {
    await this.$store.dispatch(ADDRESS_ACTION.GET_ADDRESSES);
    await this.$store.dispatch(USER_ACTION.GET_USERS);
  },
  methods: {
    async updateActiveAdd(selectedAdd){
      await this.$store.dispatch(ADDRESS_ACTION.PUT_ACTIVE_ADDRESS, selectedAdd);
      await this.$store.dispatch(FACILITY_ACTION.GET_FACILITIES, this.activeAdd.id);
      await this.$store.dispatch(FACILITY_ACTION.CLEAR_ACTIVE_FACILITY);
    },
    //pop-up dialog functions
    editItem (item) {
      this.$v.$reset(); //clears thrown validation errors
      this.editedIndex = this.facilities.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.selectedSupervisor = this.editedItem.supervisors[0].username;
      this.dialog = true
    },
    deleteItem (item) {
      this.editedIndex = this.facilities.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    async deleteItemConfirm () {
      const elId = this.facilities[this.editedIndex].id;
      await this.$store.dispatch(FACILITY_ACTION.DELETE_FACILITY, {addressId: this.activeAdd.id, facilityId: elId});
      await this.$store.dispatch(FACILITY_ACTION.GET_FACILITIES, this.activeAdd.id);
      this.closeDelete()
    },
    close () {
      this.dialog = false
      this.selectedSupervisor = {};
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
        this.$v.$reset(); //clears thrown validation errors
      })
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    async save () {
      this.$v.$touch() //check validations
      if (this.$v.$anyError === false){//if no validation error, then propagate 
        if (this.editedIndex > -1) {
          if (this.selectedSupervisor.id !== undefined) {
            this.editedItem.supervisors = [this.selectedSupervisor];
          } else {
            this.editedItem.supervisors = [this.editedItem.supervisors[0]];
          }
          //we need to remove reservations field that is set in read-reservations from backend,
          // because there is a bug in the jackson deserializer, that acts up with generic deserialization
          //this happens because we replace subresources of incoming entities with an empty []
          //and if this gets executed for reservations field it somehow also happens for the not annotated supervisors field
          // eslint-disable-next-line no-unused-vars
          const {reservations, ...facilityWithoutReservations} = this.editedItem;
          this.editedItem = facilityWithoutReservations;
          await this.$store.dispatch(FACILITY_ACTION.PUT_FACILITY, {addressId: this.activeAdd.id, facility: this.editedItem})
        } else {
          this.editedItem.supervisors = [this.selectedSupervisor];
          await this.$store.dispatch(FACILITY_ACTION.POST_FACILITY, {addressId: this.activeAdd.id, facility: this.editedItem})
        }
        await this.$store.dispatch(FACILITY_ACTION.GET_FACILITIES, this.activeAdd.id);
        this.close()
      }
    },
  },
};
</script>

