<template>
<!-- view to edit grounds, structure is similar to facilityEdit/reservationEdit/userEdit -> general comments in facilityEdit -->
  <div>
    <v-data-table
      :headers="headers"
      :items="addresses"
      class="elevation-1"
      :footer-props="{
        'items-per-page-text':$t(`groundEdit.rowPerPage`),
        'items-per-page-options':[10, 15, 50, -1],
        'page-text': $t(`groundEdit.of`),
      }"
    >
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title class="red--text">{{  $t('groundEdit.administration')  }}</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog
            v-model="dialog"
            max-width="500px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="orange"
                class="mb-2 black--text"
                v-bind="attrs"
                v-on="on"
            >
              {{  $t('groundEdit.new')  }}
            </v-btn>
            </template>
            <form>
              <v-card>
                <v-card-title>
                  <span class="text-h5" v-if="editedIndex===-1">{{  $t('groundEdit.new')  }}</span>
                  <span class="text-h5" v-if="editedIndex!==-1">{{  $t('groundEdit.edit')  }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedItem.location"
                          :label="$t('groundEdit.location')"
                          required
                          @input="$v.editedItem.location.$touch()"
                          @blur="$v.editedItem.location.$touch()"
                          :error-messages="locationErrors"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedItem.postalCode"
                          :label="$t('groundEdit.postalCode')"
                          required
                          @input="$v.editedItem.postalCode.$touch()"
                          @blur="$v.editedItem.postalCode.$touch()"
                          :error-messages="postalCodeErrors"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedItem.street"
                          :label="$t('groundEdit.street')"
                          required
                          @input="$v.editedItem.street.$touch()"
                          @blur="$v.editedItem.street.$touch()"
                          :error-messages="streetErrors"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedItem.houseNumber"
                          :label="$t('groundEdit.houseNumber')"
                          required
                          @input="$v.editedItem.houseNumber.$touch()"
                          @blur="$v.editedItem.houseNumber.$touch()"
                          :error-messages="houseNumberErrors"
                        >
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="red darken-1"
                    text
                    @click="close"
                  >
                    {{  $t('groundEdit.cancel')  }}
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="save"
                    :disabled="$v.$anyError"
                  >
                    {{  $t('groundEdit.save')  }}
                  </v-btn>
                </v-card-actions>
              </v-card>
            </form>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5" style="word-break: break-word"> {{  $t('groundEdit.confirm')  }}</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" text @click="closeDelete"> {{  $t('groundEdit.cancel')  }}</v-btn>
                <v-btn color="green darken-1" text @click="deleteItemConfirm"> {{  $t('groundEdit.ok')  }}</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          fas fa-edit
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          fas fa-trash
        </v-icon>
      </template>
    </v-data-table>
    <router-link to="calendar" style="text-decoration: none; color: inherit;">  
      <v-btn
        class="ma-10"
        x-large
      >
        <v-icon left>fas fa-backward</v-icon>{{ $t("groundEdit.calendar") }}
      </v-btn> 
    </router-link>
    <router-link to="facEdit" style="text-decoration: none; color: inherit;">  
      <v-btn
        class="ma-10"
        x-large
      >
        {{ $t("groundEdit.facEdit") }} 
      </v-btn> 
    </router-link>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, numeric, alphaNum } from 'vuelidate/lib/validators'
import { mapState } from "vuex/dist/vuex.mjs";
import {ADDRESS_ACTION} from "@/store/modules/address";

export default {
  components: {
  },
  name: "GroundEditView",
  mixins: [validationMixin],
  validations: {
      editedItem:{
        location: {required},
        postalCode: {required, numeric},
        street: {required},
        houseNumber: {required, alphaNum},
    },
  },
  data: () => ({
      dialog: false,
      dialogDelete: false,
      editedIndex: -1,
      editedItem: {
      },
      defaultItem: {
      },
    }),
    computed: {
      ...mapState({
      addresses: (state) => {
        return state.address.addresses
        }
      }),
      headers () { 
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        return [
          { text: t(`groundEdit.location`, locale), align: 'start', value: 'location' },
          { text: t(`groundEdit.postalCode`, locale), value: 'postalCode' },
          { text: t(`groundEdit.street`, locale), value: 'street' },
          { text: t(`groundEdit.houseNumber`, locale), value: 'houseNumber' },
          { text: t(`groundEdit.actions`, locale), value: 'actions', sortable: false },
        ]
      },
      locationErrors () {
        const errors = []
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        if (!this.$v.editedItem.location.$dirty) return errors
        !this.$v.editedItem.location.required && errors.push(t(`groundEdit.locationReq`, locale))
        return errors
      },
      postalCodeErrors () {
        const errors = []
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        if (!this.$v.editedItem.postalCode.$dirty) return errors
        !this.$v.editedItem.postalCode.numeric && errors.push(t(`groundEdit.postalNumber`, locale))
        !this.$v.editedItem.postalCode.required && errors.push(t(`groundEdit.postalReq`, locale))
        return errors
      },
      streetErrors () {
        const errors = []
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        if (!this.$v.editedItem.street.$dirty) return errors
        !this.$v.editedItem.street.required && errors.push(t(`groundEdit.streetReq`, locale))
        return errors
      },
      houseNumberErrors () {
        const errors = []
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        if (!this.$v.editedItem.houseNumber.$dirty) return errors
        !this.$v.editedItem.houseNumber.alphaNum && errors.push(t(`groundEdit.houseNumberAlphaNum`, locale))
        !this.$v.editedItem.houseNumber.required && errors.push(t(`groundEdit.houseNumberReq`, locale))
        return errors
      },
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },
    async created () {
      await this.$store.dispatch(ADDRESS_ACTION.GET_ADDRESSES);
    },
    methods: {
      editItem (item) {
        this.$v.$reset(); //clears thrown validation errors
        this.editedIndex = this.addresses.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
      deleteItem (item) {
        this.editedIndex = this.addresses.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },
      async deleteItemConfirm () {
        const elId = this.addresses[this.editedIndex].id;
        await this.$store.dispatch(ADDRESS_ACTION.DELETE_ADDRESS, elId);
        await this.$store.dispatch(ADDRESS_ACTION.GET_ADDRESSES);
        this.closeDelete()
      },
      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
          this.$v.$reset(); //clears thrown validation errors
        })
      },
      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
      async save () {
        this.$v.$touch() //check validations
        if (this.$v.$anyError === false){//if no validation error, then propagate 
          if (this.editedIndex > -1) { //if editedIndex >-1 changed ground, if -1 = new ground
            await this.$store.dispatch(ADDRESS_ACTION.PUT_ADDRESS, this.editedItem)
          } else {
            await this.$store.dispatch(ADDRESS_ACTION.POST_ADDRESS, this.editedItem)
          }
          await this.$store.dispatch(ADDRESS_ACTION.GET_ADDRESSES);
          this.close()
        }
      },
    },
};
</script>

