<template>
<!-- view to edit reseervations, structure is similar to facilityEdit/groundEdit/userEdit -> general comments in facilityEdit -->
  <div>
    <v-data-table
      :headers="headers"
      :items="reservationsTimeZoneOffsetCalc"
      class="elevation-1"
      :footer-props="{
        'items-per-page-text':$t(`resEdit.rowPerPage`),
        'items-per-page-options':[10, 15, 50, -1],
        'page-text': $t(`resEdit.of`),
      }"
    >
      <template v-slot:[`item.reservationPurpose`]="{ item }">
        <div v-if="item.reservationPurpose==='GAME'">{{  $t('reservation.game')  }}</div>
        <div v-if="item.reservationPurpose==='TRAINING'">{{  $t('reservation.training')  }}</div>
        <div v-if="item.reservationPurpose==='RESERVED'">{{  $t('reservation.reserved')  }}</div>
        <div v-if="item.reservationPurpose==='BLOCKED'">{{  $t('reservation.blocked')  }}</div>
        <div v-if="item.reservationPurpose==='MISC'">{{  $t('reservation.misc')  }}</div>
      </template>
      <template v-slot:[`item.reservationStatus`]="{ item }">
        <div v-if="item.reservationStatus==='PENDING'">{{  $t('reservation.pending')  }}</div>
        <div v-if="item.reservationStatus==='APPROVED'">{{  $t('reservation.approved')  }}</div>
        <div v-if="item.reservationStatus==='DENIED'">{{  $t('reservation.denied')  }}</div>
      </template>
      <template v-slot:[`item.reservedSpace`]="{ item }">
        <div v-if="item.reservedSpace==='THIRD_OF_FIELD'">{{  $t('reservation.third')  }}</div>
        <div v-if="item.reservedSpace==='HALF_OF_FIELD'">{{  $t('reservation.half')  }}</div>
        <div v-if="item.reservedSpace==='FULL_FIELD'">{{  $t('reservation.full')  }}</div>
      </template>
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title>{{  $t('resEdit.administration')  }}</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialogApprove" max-width="500px">
            <v-card>
              <v-card-title class="text-h5" style="word-break: break-word"> {{  $t('resEdit.confirmApprove')  }}</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" text @click="closeAny"> {{  $t('resEdit.cancel')  }}</v-btn>
                <v-btn color="green darken-1" text @click="approveItemConfirm"> {{  $t('resEdit.ok')  }}</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDeny" max-width="500px">
            <v-card>
              <v-card-title class="text-h5" style="word-break: break-word"> {{  $t('resEdit.confirmDeny')  }}</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" text @click="closeAny"> {{  $t('resEdit.cancel')  }}</v-btn>
                <v-btn color="green darken-1" text @click="denyItemConfirm"> {{  $t('resEdit.ok')  }}</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5" style="word-break: break-word"> {{  $t('resEdit.confirmDelete')  }}</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" text @click="closeAny"> {{  $t('resEdit.cancel')  }}</v-btn>
                <v-btn color="green darken-1" text @click="deleteItemConfirm"> {{  $t('resEdit.ok')  }}</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <span v-if="isUserAdmin() || isUserSupervisor()">
          <v-icon small class="mr-2" color="green" @click="approveItem(item)" :disabled="!(isUserAdmin() || isUserSupervisor())">
            fas fa-check
          </v-icon>
          <v-icon small class="mr-2" color="red" @click="denyItem(item)">
            fas fa-times
          </v-icon>
        </span>
        <span v-if="isUserAdmin() || isUserTrainer()">
          <v-icon small @click="deleteItem(item)">
            fas fa-trash
          </v-icon>
        </span>
      </template>
    </v-data-table>
    <router-link to="calendar" style="text-decoration: none; color: inherit;">  
      <v-btn
        class="ma-10"
        x-large
      >
        <v-icon left>fas fa-backward</v-icon>{{ $t("resEdit.calendar") }}
      </v-btn> 
    </router-link>
  </div>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import {RESERVATION_ACTION} from "@/store/modules/reservation";
import {RESERVATION_STATUS} from "@/service/json-api";

export default {
  components: {
  },
  name: "ReservationEditView",
  data: () => ({
    dialogApprove: false,
    dialogDeny: false,
    dialogDelete: false,

    editedIndex: -1,
    editedItem: {
    },
    defaultItem: {
    },
  }),
  computed: {
    ...mapState({
      reservations: (state) => {
        return state.reservation.reservations
      },
      activeFac: (state) => {
        return state.sportsfacility.activeFacility
      },
      activeAdd: (state) => {
        return state.address.activeAddress
      },
    }),
    headers () {
      const locale = this.$i18n.locale
      const t = this.$t.bind(this)
      return [
        { text: t(`resEdit.name`, locale), value: 'name' },
        { text: t(`resEdit.begin`, locale), align: 'start', value: 'startTime' },
        { text: t(`resEdit.end`, locale), value: 'endTime' },
        { text: t(`resEdit.applicant`, locale), value: 'applicant.username' },
        { text: t(`resEdit.type`, locale), value: 'reservationPurpose' },
        { text: t(`resEdit.status`, locale), value: 'reservationStatus' },
        { text: t(`resEdit.space`, locale), value: 'reservedSpace' },
        { text: t(`resEdit.actions`, locale), value: 'actions', sortable: false },
      ]
    },
    ...mapGetters([
        "reservationsTimeZoneOffsetCalc",
        "isUserTrainer",
        "isUserAdmin",
        "isUserSupervisor"
    ])
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeAny()
    },
  },
  methods: {
    approveItem (item) {
      this.editedIndex = this.reservations.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogApprove = true
    },
    async approveItemConfirm () {
      const elId = this.reservations[this.editedIndex].id;
      await this.$store.dispatch(RESERVATION_ACTION.PUT_RESERVATION_STATUS,
          {addressId: this.activeAdd.id, facilityId: this.activeFac.id, reservationId: elId, status: RESERVATION_STATUS.APPROVED});
      await this.$store.dispatch(RESERVATION_ACTION.GET_RESERVATIONS, {addressId: this.activeAdd.id, facilityId: this.activeFac.id});
      this.closeAny()
    },
    denyItem (item) {
      this.editedIndex = this.reservations.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDeny = true
    },
    async denyItemConfirm () {
      const elId = this.reservations[this.editedIndex].id;
      await this.$store.dispatch(RESERVATION_ACTION.PUT_RESERVATION_STATUS,
          {addressId: this.activeAdd.id, facilityId: this.activeFac.id, reservationId: elId, status: RESERVATION_STATUS.DENIED});
      await this.$store.dispatch(RESERVATION_ACTION.GET_RESERVATIONS, {addressId: this.activeAdd.id, facilityId: this.activeFac.id});
      this.closeAny()
    },
    deleteItem (item) {
      this.editedIndex = this.reservations.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    async deleteItemConfirm () {
      const elId = this.reservations[this.editedIndex].id;
      await this.$store.dispatch(RESERVATION_ACTION.DELETE_RESERVATION, {addressId: this.activeAdd.id, facilityId: this.activeFac.id, reservationId: elId});
      await this.$store.dispatch(RESERVATION_ACTION.GET_RESERVATIONS, {addressId: this.activeAdd.id, facilityId: this.activeFac.id});
      this.closeAny()
    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeAny () {
      this.dialogDelete = false;
      this.dialogDeny = false;
      this.dialogApprove = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    async save () {
      //if editedIndex >-1 allowed reservation, if -1 = disallowed reservation
      if (this.editedIndex > -1) {
        //await this.$store.dispatch(USER_ACTION.PUT_USER, this.editedItem)
      } else {
        //await this.$store.dispatch(USER_ACTION.POST_USER, this.editedItem)
      }
      this.close()
    },
  },
  async created() {
    await this.$store.dispatch(RESERVATION_ACTION.GET_RESERVATIONS, {addressId: this.activeAdd.id, facilityId: this.activeFac.id});
  }
};
</script>

