<template>
<!-- view to edit users, structure is similar to facilityEdit/reservationEdit/groundEdit -> general comments in facilityEdit -->
  <div>
    <v-data-table
      :headers="headers"
      :items="users"
      class="elevation-1"
      :footer-props="{
        'items-per-page-text':$t(`user.rowPerPage`),
        'items-per-page-options':[10, 15, 50, -1],
        'page-text': $t(`user.of`),
      }"
    >
      <template v-slot:[`item.role`]="{ item }">
        <div v-if="item.role==='ADMIN'">{{  $t('user.admin')  }}</div>
        <div v-if="item.role==='PLAYER'">{{  $t('user.player')  }}</div>
        <div v-if="item.role==='TRAINER'">{{  $t('user.trainer')  }}</div>
        <div v-if="item.role==='CLUB_SUPERVISOR'">{{  $t('user.supervisor')  }}</div>
      </template>
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title>{{  $t('user.administration')  }}</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog
            v-model="dialog"
            max-width="500px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="orange"
                class="mb-2 black--text"
                v-bind="attrs"
                v-on="on"
            >
              {{  $t('user.new')  }}
            </v-btn>
            </template>
            <form>
              <v-card>
                <v-card-title>
                  <span class="text-h5" v-if="editedIndex===-1">{{  $t('user.new')  }}</span>
                  <span class="text-h5" v-if="editedIndex!==-1">{{  $t('user.edit')  }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedItem.email"
                          :label="$t('user.mail')"
                          required
                          @input="$v.editedItem.email.$touch()"
                          @blur="$v.editedItem.email.$touch()"
                          :error-messages="emailErrors"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedItem.username"
                          :label="$t('user.username')"
                          required
                          @input="$v.editedItem.username.$touch()"
                          @blur="$v.editedItem.username.$touch()"
                          :error-messages="usernameErrors"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="6"
                          md="4"
                      >
                        <v-text-field
                          v-model="editedItem.fullname"
                          :label="$t('user.fullname')"
                          required
                          @input="$v.editedItem.fullname.$touch()"
                          @blur="$v.editedItem.fullname.$touch()"
                          :error-messages="fullnameErrors"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="6"
                          md="4"
                      >
                        <v-text-field
                          v-model="editedItem.password"
                          :label="$t('user.password')"
                          required
                          @input="$v.editedItem.password.$touch()"
                          @blur="$v.editedItem.password.$touch()"
                          :error-messages="passwordErrors"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedItem.telephoneNumber"
                          :label="$t('user.telephoneNumber')"
                          required
                          @input="$v.editedItem.telephoneNumber.$touch()"
                          @blur="$v.editedItem.telephoneNumber.$touch()"
                          :error-messages="telephoneErrors"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="6"
                          md="4"
                      >
                        <v-select
                          v-model="editedItem.role"
                          :items="roles"
                          outlined
                          return-object
                          :label="$t('user.role')"
                          class="mb-10"
                          required
                          @input="$v.editedItem.role.$touch()"
                          @blur="$v.editedItem.role.$touch()"
                          :error-messages="roleErrors"
                          >
                          <template #selection="data">
                            <div v-if="data.item==='ADMIN'">{{  $t('user.admin')  }}</div>
                            <div v-if="data.item==='PLAYER'">{{  $t('user.player')  }}</div>
                            <div v-if="data.item==='TRAINER'">{{  $t('user.trainer')  }}</div>
                            <div v-if="data.item==='CLUB_SUPERVISOR'">{{  $t('user.supervisor')  }}</div>
                          </template>
                          <template #item="data">
                            <div v-if="data.item==='ADMIN'">{{  $t('user.admin')  }}</div>
                            <div v-if="data.item==='PLAYER'">{{  $t('user.player')  }}</div>
                            <div v-if="data.item==='TRAINER'">{{  $t('user.trainer')  }}</div>
                            <div v-if="data.item==='CLUB_SUPERVISOR'">{{  $t('user.supervisor')  }}</div>
                          </template>
                        </v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="red darken-1"
                    text
                    @click="close"
                  >
                    {{  $t('user.cancel')  }}
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="save"
                  >
                    {{  $t('user.save')  }}
                  </v-btn>
                </v-card-actions>
              </v-card>
            </form>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5" style="word-break: break-word"> {{  $t('user.confirmOne')  }} {{editedItem.username}} {{  $t('user.confirmTwo')  }}</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" text @click="closeDelete"> {{  $t('user.cancel')  }}</v-btn>
                <v-btn color="green darken-1" text @click="deleteItemConfirm"> {{  $t('user.ok')  }}</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          fas fa-edit
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          fas fa-trash
        </v-icon>
      </template>
    </v-data-table>
    <router-link to="calendar" style="text-decoration: none; color: inherit;">  
      <v-btn
        class="ma-10"
        x-large
      >
        <v-icon left>fas fa-backward</v-icon>{{ $t("user.calendar") }}
      </v-btn> 
    </router-link>
  </div>
</template>

<script>
import {USER_ACTION} from "@/store/modules/user";
import {mapState} from "vuex";
import {ROLE} from "@/service/json-api";
import {validationMixin} from "vuelidate";
import {required, email, minLength, alphaNum, numeric} from 'vuelidate/lib/validators';

export default {
  components: {
  },
  name: "UserEditView",
  mixins: [validationMixin],
  validations: {
    editedItem:{
      username: {required, alphaNum},
      email: {required, email},
      fullname: {required},
      password: {required, minLength: minLength(8)},
      telephoneNumber: {required, numeric},
      role: {required}
    },
  },
  data: () => ({
      dialog: false,
      dialogDelete: false,
      editedIndex: -1,
      editedItem: {
      },
      defaultItem: {
      },
      roles: Object.values(ROLE),
  }),
    computed: {
      ...mapState({
        users: (state) => {
          return state.user.users;
        }
      }),
      headers () {
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        return [
          { text: t(`user.mail`, locale), align: 'start', value: 'email' },
          { text: t(`user.username`, locale), value: 'username' },
          { text: t(`user.fullname`, locale), value: 'fullname' },
          { text: t(`user.telephoneNumber`, locale), value: 'telephoneNumber' },
          { text: t(`user.role`, locale), value: 'role' },
          { text: t(`user.actions`, locale), value: 'actions', sortable: false },
        ]
      },
      usernameErrors () {
        const errors = []
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        if (!this.$v.editedItem.username.$dirty) return errors
        !this.$v.editedItem.username.alphaNum && errors.push(t(`user.usernameAlphanum`, locale))
        !this.$v.editedItem.username.required && errors.push(t(`user.usernameReq`, locale))
        return errors
      },
      fullnameErrors () {
        const errors = []
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        if (!this.$v.editedItem.fullname.$dirty) return errors
        !this.$v.editedItem.fullname.required && errors.push(t(`user.fullnameReq`, locale))
        return errors
      },
      emailErrors () {
        const errors = []
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        if (!this.$v.editedItem.email.$dirty) return errors
        !this.$v.editedItem.email.email && errors.push(t(`user.emailEmail`, locale))
        !this.$v.editedItem.email.required && errors.push(t(`user.emailReq`, locale))
        return errors
      },
      passwordErrors () {
        const errors = []
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        if (!this.$v.editedItem.password.$dirty) return errors
        !this.$v.editedItem.password.minLength && errors.push(t(`user.passwordTooShort`, locale))
        !this.$v.editedItem.password.required && errors.push(t(`user.passwordReq`, locale))
        return errors
      },
      telephoneErrors () {
        const errors = []
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        if (!this.$v.editedItem.telephoneNumber.$dirty) return errors
        !this.$v.editedItem.telephoneNumber.numeric && errors.push(t(`user.telephoneNumeric`, locale))
        !this.$v.editedItem.telephoneNumber.required && errors.push(t(`user.telephoneReq`, locale))
        return errors
      },
      roleErrors () {
        const errors = []
        const locale = this.$i18n.locale
        const t = this.$t.bind(this)
        if (!this.$v.editedItem.role.$dirty) return errors
        !this.$v.editedItem.role.required && errors.push(t(`user.roleReq`, locale))
        return errors
      },
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },
    async created () {
      await this.$store.dispatch(USER_ACTION.GET_USERS);
    },
    methods: {
      editItem (item) {
        this.$v.$reset(); //clears thrown validation errors
        this.editedIndex = this.users.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
      deleteItem (item) {
        this.editedIndex = this.users.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },
      async deleteItemConfirm () {
        const elId = this.users[this.editedIndex].id;
        await this.$store.dispatch(USER_ACTION.DELETE_USER, elId);
        await this.$store.dispatch(USER_ACTION.GET_USERS);
        this.closeDelete()
      },
      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
          this.$v.$reset(); //clears thrown validation errors
        })
      },
      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
      async save () {
        this.$v.$touch() //check validations
        if (this.$v.$anyError === false){//if no validation error, then propagate
          if (this.editedIndex > -1) {//if editedIndex >-1 changed ground, if -1 = new ground
            await this.$store.dispatch(USER_ACTION.PUT_USER, this.editedItem)
          } else {
            await this.$store.dispatch(USER_ACTION.POST_USER, this.editedItem)
          }
          await this.$store.dispatch(USER_ACTION.GET_USERS);
          this.close()
        }
      },
    },
};
</script>

